@model IEnumerable<sistemaRH.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<style>

    body {
        font-family: Roboto, Helvetica, sans-serif;
        background-color: #f4f4f4;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: auto;
        color: black;
    }

</style>


<h1>Cadastrar Usuário</h1>

<p>
    <a asp-action="Create">Realizar novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCadastro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCadastro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCadastro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
